<!DOCTYPE html>
<html>
<head>
	<title>Admin | Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<nav>
		<a href="index.html"><img id="logo" src="img/QienLogo.jpg"style="height: 70px;"></a>
		<div class="nav">
			
			<ul>
				<li><a href="index" >Uitloggen</a></li>
				<li><a href="AdminBeheer" >Beheer</a></li>
				<li><a href="AdminKlantenOverzicht" >Klanten</a></li>
				<li><a href="AdminTraineeOverzicht" >Trainees</a></li>
				<li><a href="AdminDeclaratiesOverzicht" >Declaraties</a></li>
				<li><a href="AdminUrenoverzicht" >Uren</a></li>
				<li><a href="AdminDashboard" class="active">Dashboard</a></li>
			</ul>
		</div>
	</nav>
		<div class="wrapperAdminDashboard">
			<div class="container">
				<h1>Dashboard</h1>
					<h2>Work in progress...</h2>
			</div>
		</div>


<script type="text/javascript" src="AdminDashboard.js"></script>
</body>
</html>